#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.ledState{
  width: 30px;
  height: 30px;
  border: solid 3px white;
  border-radius: 30px;
  background-color: gray;
}


